[Unit]
Description=Start offlineimap as a deamon
Requires=network-online.target
After=network.target

[Service]
User=%i
ExecStart=/usr/bin/offlineimap -o
KillSignal=SIGUSR2
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
